.contact-container{
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 5rem;
    /* border: 2px solid red; */
}
.contact-container h2{
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid red;
}

.contact-container form{
    width: 55%;
    height: 25rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-container form .input-element{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.contact-container form .input-element label{
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    color: blue;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.contact-container form .input-element input,textarea{
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    color: rgb(49, 49, 49);
    font-size: 1.3rem;
}
.contact-container form .input-element button{
    width: 12rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    border-color: blue;
    background-color: blue;
    outline: none;
}
.contact-container form .input-element button:hover{
    color: red;
    cursor: pointer;
}


@media (max-width: 800px){
    .contact-container form{
        width: 100%;
    }
    .contact-container form .input-element button{
        width: 100%;
    }
}