main{
    width: 90%;
    margin: 0 auto;
}
.container{
    margin: 1rem 0;
}
.container h2{
    padding: 1rem 0;
}

/* .blog-container{
    
} */

.content-container{
    display: flex;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* .image-container {
    
} */
.image-container img{
    width: 320px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.text-container{
    width: 90%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.title{
    color: red;
}
.text-container p{
    color: rgb(49, 49, 49);
    font-size: 1.2rem;
    font-family: 'Public Sans', sans-serif;
}

.btn{
    text-align: center;
}

.btn a{
    text-align: center;
    color: red;
    font-size: 1.3rem;
}

@media (max-width: 800px){
    .content-container{
        flex-direction: column;
    }
    .container h2{
        font-size: 2rem;
    }
    .title{
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .image-container img{
        width: 100%;
    }
    .text-container p,.btn,.image-container{
        margin-bottom: 1rem;
    }
  }
  
